* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-image: url(../img/card.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  width: 100%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media (max-width: 1413px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1075px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 722px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.carda .cardBody {
  width: 320px;
}
.carda .cardBody img {
  width: 100%;
  height: 170px;
}
.carda > a > div {
  font-family: sans-serif;
  font-size: 18px;
  padding: 2px 0;
}

.BtnS {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.BtnS > a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  color: black;
}
.btn1 {
  padding: 10px;
  background-color: rgb(255, 44, 44);
  border-radius: 8px;
}
.btn2 {
  padding: 10px;
  background-color: rgb(98, 255, 0);
  border-radius: 8px;
}
.btn3 {
  padding: 10px;
  background-color: rgb(27, 201, 217);
  border-radius: 8px;
}
.btn {
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
}
.comments {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
span {
  font-family: cursive;
  font-size: 14px;
}
